

.carrossel{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

    .carrossel-content{
        width: 400%;
        height: 400px;
        display: flex;
    }

        .carrossel-content input{
           display: none;
        }

        .carrossel-content-box{
            width: 25%;
        }

            .carrossel-content-box img{
                width: 800px;
            }
        .carrossel-content-navAuto{
            position: absolute;
            width: 800px;
            margin-top: 360px;
            display: flex;
            justify-content: center;
        }
            .carrossel-content-navAuto div{
                border: 2px solid #000;
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
                transition: 1s;
            }
            .carrossel-content-navAuto div:not(:last-child){
                margin-right: 40px;
            }

            #radio1:checked ~ .carrossel-content-navAuto .carrossel-content-navAuto-autoBtn1{
                background-color: #000;
            }
            
            #radio2:checked ~ .carrossel-content-navAuto .carrossel-content-navAuto-autoBtn2{
                background-color: #000;
            }
            
            #radio3:checked ~ .carrossel-content-navAuto .carrossel-content-navAuto-autoBtn3{
                background-color: #000;
            }
            
            #radio4:checked ~ .carrossel-content-navAuto .carrossel-content-navAuto-autoBtn4{
                background-color: #000;
            }
    .carrossel-navManual{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
        .carrossel-navManual-btn{
            border: 2px solid #000;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
            transition: 1s;
        }
        .carrossel-navManual-btn:not(:last-child){
            margin-right: 40px;
        }
        .carrossel-navManual-btn:hover{
            background-color: #000;
        }

        #radio1:checked ~ .primeiro{
            margin-left: 0%;
            transition: 1s;
        }

        #radio2:checked ~ .primeiro{
            margin-left: -25%;
            transition: 1s;
        }

        #radio3:checked ~ .primeiro{
            margin-left: -50%;
            transition: 1s;
        }

        #radio4:checked ~ .primeiro{
            margin-left: -75%;
            transition: 1s;
        }

